.eamonDiv{
    color:rgb(255, 255, 255);
    background-color: rgb(7, 168, 7);
    font-family: sans-serif;
}

#decoration{
    text-decoration: wavy;
}

#bob{
    color: red;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: aqua;
}

